---
---

@import "{{ site.theme }}";
@import url(monokai.css);

#header {
  display: none;
}

.credits {
  display: none;
}

.err {
  color:#f8f8f2 !important;
  background-color: #191919 !important;
}

.highlighter-rouge {
  padding:0 !important;
  margin:0 !important;
}

body {
  font: 15px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  margin:0 !important;
  margin-top:0 !important;
}

section #title {
  margin: 0 !important;
}